{% load i18n wagtailcore_tags %}{% spaceless %}
{% if content %}
<h5 class="leaflet-popup-header">
  {% if url %}
    <a href="{{ url }}" class="flex-fill">{{ title }}</a>
  {% else %}
    <span class="me-auto">{{ title }}</span>
  {% endif %}
  <button type="button" class="btn-close" data-dismiss="popup" aria-label="{% trans "Close" %}"></button>
</h5>
<div class="leaflet-popup-body">{{ content|richtext }}</div>
{% endif %}
{% endspaceless %}
